# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Virtual Environment =====
venv/

# ===== Environment variables =====
.env
backend/.env

# ===== Frontend =====
node_modules/
dist/
build/

# ===== VS Code =====
.vscode/
