<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Comment Guard AI</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  >
</head>

<body class="bg-slate-950 text-slate-100">

  {% include "sidebar.html" %}

  <main class="ml-64 min-h-screen p-10">
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>